@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

*{
	font-family: 'Open Sans', sans-serif;
}

body{
	background: #f3f3f3;
	margin-top: 90px;
	padding-bottom: 100px;
}
.menu{
	background: #fff;
	border-top: solid 4px #FF9800;
	border-bottom: none;
	box-shadow: 2px 2px 2px #ccc;
}
.navbar-brand{
	font-size: 14px;
}
.sidr ul li{
	border-left:solid 5px #FF8800;
}
.sub-menu-sidr li>a{
	background: #000;
}
.kaki p a{
	color: #000;
	font-weight: bold;
}
.kaki p a:hover{
	text-decoration: none;
	color: #FF8800;
}
.transparan{
	background: #f3f3f3;
	border: none;
	padding-top: 20px;
}
.navbar-default .navbar-nav>li>a{
	font-size: 13px;
}
.box{
	background: #fff;
	border: #f3f3f3;
	box-shadow: 1px 1px 1px #ccc;
	margin-top: 20px;
	transition: all .2s ease-in-out;
}
/*.box:hover{
	transform: scale(1.1);
}*/
.box_kiri{
	font-size: 34px;
	color: #fff;
	padding: 20px 25px 20px 15px;
	text-align: center;
}
.box_kanan a{
	text-decoration: none;
	color: #000;
}
.box_kanan{
	padding-top: 30px;
	font-weight: bold;
}
/*warna*/
.merah{
	background: #FF5722;
}
.hijau{
	background: #4CAF50;
}
.biru{
	background: #03A9F4;
}
.orange{
	background: #FF9800;
}
/* table mod */
.table-mod{
	background: #fff;
	border: solid thin #ccc;
}
.table-mod>thead>tr>th{
	text-align: center;
	background: #fff;
}
.table-mod>thead>tr>td{
	background: #fff;
	border: solid thin #ccc;
}
table.dataTable thead th, table.dataTable thead td{
	border-bottom: solid thin #ccc;
}
table.dataTable.no-footer{
	border-bottom: solid thin #ccc;
}
/* tabel harian */
.table-harian{
		border-spacing: 1px;
		font-size: 12px;
	}
	.table-harian td{
		padding: 5px;
	}
/* button */
.btn-orange{
	background: #FF7800;
	border: #FF7800;
}
/* panel profile */
.panel-profile{
	max-width: 360px;
	min-height: 100px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 12px #ccc;
}
.profile-header{
	text-align: center;
	padding: 15px;
	/*border-bottom: solid thin #eee;*/
	font-weight: bold;
	font-size: 15px;
	background: #FF9800;
	color: #fff;
	border-radius: 5px 5px 0 0;
	box-shadow: 1px 1px 6px #ccc;
}
.profile-body{
	margin: 15px;
}
/* input */
.input-min{
	border-radius: 0;
	border: none;
	border-bottom: solid thin #eee;
	box-shadow: none;
}
.custom{
	border-bottom: none;
	color: #fff;
}
.modal-ryan{
	width: 400px;
}
.ui-datepicker {
    padding: 0.2em 0.2em 0;
    width: 200px;
    font-size: 10px;
}
/* panel detail kunjungan */
.panel-detail-kunjungan{
	background: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 12px #ccc;
	min-height: 100px;
}
.head-detail-kunjungan{
	padding: 10px 30px 10px 30px;
}
.body-detail-kunjungan{
	padding: 10px;
}
#map-canvas{
	width: 100%;
	height: 350px;
}
@media print{
	table{
		font-size: 11px;
	}
	.btn{
		display: none;
	}
	body{
		margin-top: 15px;
	}
	h4{
		font-size: 16px;
	}
	.table-harian{
		border-spacing: 1px;
	}
	.table-harian td{
		padding: 3px;
	}
	.dataTables_filter{
		display: none;
	}
	.dataTables_length{
		display: none;
	}
	.dataTables_info{
		display: none;
	}
	.dataTables_paginate{
		display: none;
	}
}